<!-- <div class="add-company-container"> -->
<h2 mat-dialog-title>Add Company</h2>
 <mat-dialog-content>
    <div class="formContainer">
        <form [formGroup] = "addCompanyForm" id="addCompanyForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Branch Name</mat-label>
                            <input matInput #name type="text" formControlName="rName" maxlength="50" required />
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">                    
                            <mat-label>Place</mat-label>
                            <input matInput #place type="text" formControlName="rPlace" maxlength="50" required/>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Website</mat-label>
                            <input matInput #website type="text" maxlength="100" 
                            formControlName="rWebsite" required />
                            <!-- <div *ngIf="m['rWebsite'].touched && m['rWebsite'].invalid" class="alert alert-danger">
                                <div *ngIf="m['rWebsite'].errors?.['required']">Please provide url</div>
                                <div *ngIf="m['rWebsite'].errors?.['pattern']">Please provide valid url</div>
                              </div> -->
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Contact</mat-label>
                            <input matInput #contact type="text" maxlength="20" 
                            formControlName="rContact" required />                       
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput #email type="email" maxlength="100" 
                            formControlName="rEmail" required />                       
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="m-2" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="saveCompany()" [disabled]="!addCompanyForm.valid">Save</button>
</mat-dialog-actions>
