.add-company-container{
    margin-left:9.5rem;

    .formContainer{
        height: 100%;
        width: 80%;
        justify-content: center;
        margin: auto;
    }

    .mat-form-field{
        width: 100%;
    }
}