<div class="loginPage">
    <div class = "pageContent">
        <h2>Login Form</h2>

        <h4>{{failedLoginMsg}}</h4>
        <form [formGroup] = "loginForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput type="text" formControlName="rUserName" maxlength="50" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="rPassword" maxlength="50" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" (click)="login()">Login</button>
                    </div>
                </div>
            </div>
        </form>
</div>
</div>

<router-outlet></router-outlet>
  