<div class="header">
<img class="header-image" src="../../assets/images/DQB3cf.jpg">
</div>

<mat-sidenav-container class="mat-sidenav-container" [hasBackdrop]="false">
    <mat-sidenav class="sidenav" fixedInViewport mode="over" opened>
        <div class="app-logo">
            <img class="logo-class" src="../../assets/images/logo.jpg" alt="logo here">

        </div>
        <div class="menuDiv">
            <div class="d-flex sidenav-list-item" 
                (click) = "login()" *ngIf="loggedUserId === 0">
                <span>Login</span>
            </div>
            <div class="d-flex sidenav-list-item" 
                (click) = "landing()" *ngIf="loggedUserId">
                <span>Home</span>
            </div>
            <div class="d-flex sidenav-list-item" 
                (click) = "companyDetail()" *ngIf="loggedUserId">
                <span>Company Details</span>
            </div>
            
        
            <br /><br />

            <div class="d-flex sidenav-list-item" 
                (click) = "search()" *ngIf="loggedIsAdmin === 1">
                <span>Search</span>
            </div>

            <div class="d-flex sidenav-list-item" 
                (click) = "adminSearch()" *ngIf="loggedIsAdmin === 1">
                <span>Admin Search</span>
            </div>

            <div class="d-flex sidenav-list-item" 
                (click) = "userList()" *ngIf="loggedIsAdmin === 1">
                <span>User List</span>
            </div>
        
            <div class="d-flex sidenav-list-item" 
                (click) = "logout()" *ngIf="loggedUserId">
                <span>Logout</span>
            </div>
        </div>        
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

